@media only screen and (max-width: 600px) {
    .photo-item {
        width: 300px;
        height: 240px; 
    }
}

* {
    color: #837E9F;
    font-family: Merriweather Sans;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Koulen', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
    font-family: 'Tiro Gurmukhi', serif;
}

.bg-techs {
    background-color: #CB92B1;
}

body {
    background-color: #22212C;
}

.flex-container {
    background-color: #22212C;
    padding: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.flex-item {
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #302F3D;

}

.left {
    flex: 0;
}

.left .flex-item {
    margin: 25px;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right .flex-item {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.photo-item {
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 315px;
    height: 280px;
}

.infos-item ul {
    list-style: none;
    padding: 12px;
}

.infos-item li {
    padding: 6px;
}

.infos-item ul img {
    display: block;
    width: 20px;
    float: left;
    padding-right: 8px;
}

.techs {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: space-between;
    justify-content: flex-start;

}

.techs strong {
    padding: 12px;
    background-color: #CB92B1;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.myprojects-item {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.projects-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects-flex .flex-item {
    flex: 1;
}


footer {
    text-align: center;
    
}